.skills {
    list-style: none;
    text-align: center;
    padding: 5px;
    color: var(--maincolor1);
    font-size: 18px;
}

.skills-container{
    border-top: 3px dashed var(--maincolor1);
    margin:10px;
    padding: 10px;
}