.home-container{
    background-color: white;
    padding: 5px;
    margin: 20px 0px 75px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    text-align: center;
}