h2{
    font-family: chicle;
    font-size: 45px;
    color: var(--maincolor1);
}
h3{
    font-size: 20px;
    font-style: italic;
    margin-top: -15px;
    color: var(--maincolor1);
}

.work-element{
    margin:10px;
    padding: 10px;
    border-top: 3px dashed var(--maincolor1);
}

.work-img{
    width: 300px;
}

.work-content{
    font-size: 20px;
    color: var(--bodytext);
    padding-bottom: 15px;
}

.git-button{
    background-color: var(--maincolor1);
    font-size: 18px;
}

.git-button:hover{
    background-color: var(--maincolor1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.45);
}

@media (max-width: 450px) {
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
    .work-content{
        font-size: 15px;
    }
}